<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板システム</title>
</head>
<body>
  <form action="bbs.html" th:action="@{/bbs/post}" th:object="${articleForm}" method="post">
    <div>
	    <label for="name">投稿者名：</label>
	    <input id="name" name="name" th:field="*{name}">
    </div>
    <div>
	    <label for="content">投稿内容：</label>
	    <textarea id="content" name="content" th:field="*{content}" rows="4" cols="30"></textarea>
    </div>
    <button type="submit">記事投稿</button>
  </form>
  <hr>
  <div th:each="article : ${articleList}">
    <p>投稿者名：<span th:text="${article.name}">dummy</span></p>
    <p>投稿内容：</p>
    <pre th:text="${article.content}"></pre>
    <div th:each="comment : ${article.commentList}">
      <p>コメント者名：<span th:text="${comment.name}">dummy</span></p>
      <p>コメント内容：</p>
      <pre th:text="${comment.content}"></pre>
    </div>
    <hr>
  </div>
</body>
</html>