<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板システム</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <form action="bbs.html" th:action="@{/bbs/postArticle}" th:object="${articleForm}" method="post">
    <div>
	    <label for="name">投稿者名：</label>
	    <input id="name" name="name" th:field="*{name}"><br>
	    <span class="error" th:errors="*{name}"></span>
    </div>
    <div>
	    <label for="content">投稿内容：</label><br>
	    <textarea id="content" name="content" th:field="*{content}" rows="4" cols="30"></textarea><br>
	    <span class="error" th:errors="*{content}"></span>
    </div>
    <button type="submit">記事投稿</button>
  </form>
  
  <hr>
  <div th:each="article,status : ${articleList}">
    <p>投稿者名：<span th:text="${article.name}">dummy</span></p>
    <p>投稿内容：</p>
    <pre th:text="${article.content}"></pre>
    <a th:href="@{/bbs/deleteArticle?id=} + ${article.id}"><button>記事削除</button></a>
    
    <div class="comment-list" th:each="comment : ${article.commentList}">
      <p>コメント者名：<span th:text="${comment.name}">dummy</span></p>
      <p>コメント内容：</p>
      <pre th:text="${comment.content}"></pre>
    <p th:if="${#lists.isEmpty(article.commentList)}">
      コメントはまだありません。
    </p>
    </div>
    
    <form action="bbs.html" th:action="@{/bbs/postComment}" th:object="${commentForm}" method="post">
      <label for="commenter">名前：</label><br>
      <input id="commenter" name="name" th:field="*{name}"><br>
      <span th:if="${formId == status.index}" class="error" th:errors="*{name}"></span><br>
      <label for="comment">コメント：</label><br>
      <textarea id="comment" name="content" th:field="*{content}" rows="4" cols="30"></textarea><br>
      <span th:if="${formId == status.index}" class="error" th:errors="*{content}"></span>
      <input type="hidden" name="formId" th:value="${status.index}">
      <input type="hidden" name="articleId" th:value="${article.id}"><br>
      <button type="submit">コメント投稿</button>
    </form>
    <hr>
  </div>
  <p th:if="${#lists.isEmpty(articleList)}">
    記事はまだありません
  </p>
</body>
</html>